* {
	font-family: 'Poiret One', cursive;
}

a {
	color: black;
	text-decoration: none;
}

/*use parallax with an image here*/


/************************************/
/**********Navigation Bar************/
/************************************/
#container {
	display: flex;
	flex-flow: wrap row;
	justify-content: space-between;
	align-items: baseline;
	margin: 0 auto;
	background: #FAF9F8;
}

.site-title {
	flex: 0 1 auto;
	margin: 0;
	font-family: 'Lobster', cursive;
	float: left;
}

.nav-bar {
	list-style-type: none;
	margin: 0;
}

.nav-bar li {
	display: inline-block;
}

.resume-nav {
	flex: 0 1 auto;
	padding: 0 5px;
	flex: 0 1 auto;
}

.portfolio-nav {
	flex: 0 1 auto;
	padding: 0 5px;
	flex: 0 1 auto;
}

.about-nav {
	flex: 0 1 auto;
	padding: 0 5px;
	flex: 0 1 auto;
}

.contact-nav {
	flex: 0 1 auto;
	padding: 0 8px 0 5px;
	flex: 0 1 auto;
}

.portfolio-footer {
	position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

footer {
	text-align: center;
}


/*********SEXY NAVIGATION MOVEMENT********/


/***********************************/
/*************SPLASH PAGE***********/
/***********************************/
.landing-page {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
	font-size: 45px;
	padding: 5px;
    background: white;
    opacity: .5;
    border: solid #f9f7f7 5px;
    width: 290px;
}

#splash-image {
	background: url(./photos/splash-image.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/*********************************/
/*************RESUME**************/
/*********************************/
.resume-background-color {
	background: #FAF9F8;
}

.resume-styles {
	text-align: center;
	margin: 0 auto;
	width: 60%;
	background-color: #A8A8A8;
}

.jobs-styles {
	font-weight: bold;
	text-decoration: underline;
}

.education-resume {
	list-style-type: none;
}

.community-resume {
	list-style-type: none;
}

.skills-resume {
	list-style-type: none;
}


/****************************/
/*********MY PORTFOLIO*******/
/****************************/
.my-portfolio-background-color {
	background: #FAF9F8;
}

.portfolio-header-font {
	font-size: 10px;
	font-style: italic;
}

.portfolio-order {
	display: flex;
	margin: 0 auto;
	flex-flow: row wrap;
	justify-content: flex-start;
}

.my-first-site {
	padding: 30px 60px;
	border: 1px solid black;
	margin: 0 auto;
}

.my-second-site {
	padding: 30px 60px;
	border: 1px solid black;
	margin: 0 auto;
}

.my-third-site {
	padding: 30px 60px;
	border: 1px solid black;
	margin: 0 auto;	
}


/*******************************/
/************ABOUT ME**********/
/******************************/
.about-me-background-color {
	background: #FAF9F8;
}

.about-me-paragraph {
	text-align: center;
	margin: 0 auto;
	width: 60%;
	background-color: #A8A8A8;
}


/***************************/
/*********CONTACT ME********/
/***************************/
.contact-me-background-color {
	background: #FAF9F8;
}